* {
    box-sizing: border-box;
}
body {
    background: #6CC9B5
}

/* Navigation Bar */
img {
    width: 40%;
    height: 40em;
}
.home-nav {
    list-style-type: none;
    overflow:hidden;
    background-color: #333;
}
li {
    float: left;
}
.students,.campuses,.home {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
}
.students:hover,.campuses:hover,.home:hover {
    background-color: #111
}

/* Titles */
.main-page-title {
    margin-top: 2%;
    text-align: center
}
h2,h3,h4,h5 {
    color: #333
}

/* Tables */
table, th, td {
    border-collapse: collapse;
}
table {
    width: 100%
}
th {
    text-align: left;
    background-color:#333;
    color: white
}
td {
    font-size: 18px;
}
th, td {
    padding: 0.5em; 
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
tr:nth-child(odd) {
    background-color: #A09A9A
}

/* Buttons */
button {
    background-color: #E0305C;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

/* Forms */
.submit {
    width: 10%;
    padding: 0.2em;
    margin: 1em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 18px;
}
.submit:hover {
    background-color: black;
}
input {
    width: 15%;
    padding: 0.5em;
    margin: 0.5em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 15px;
}
select {
    width: 15%;
    padding: 1em;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
}

/* General styling */
.student,.campus {
    padding: 2em;
}





